.f {
  display: flex;
}

.f-c {
  display: flex;
  flex-direction: column;
}

.f-r {
  display: flex;
  flex-direction: row;
}

.f-r {
  display: flex;
  flex-direction: row;
}

.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.f-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.f-1 {
  flex: 1 1 0;
}

.oy-h {
  overflow-y: hidden;
}

.oy-a {
  overflow-y: auto !important;
}

.ox-h {
  overflow-x: hidden;
}

.o-h {
  overflow: hidden;
}
